python-dotenv==1.1.0
requests==2.32.3
langchain-groq==0.3.2
langchain==0.3.25
pillow==11.2.1
langgraph==0.4.7
SQLAlchemy==2.0.41
langchain-openai==0.3.21
transformers==4.52.4
fastapi==0.115.12
uvicorn==0.34.3
cachetools==5.5.2
httpx==0.28.1
tenacity==9.1.2
pydantic==2.11.5
firebase_admin==7.1.0

-e .
